%p
  Hello #{@resource.email}!
<<<<<<< HEAD
%p We're contacting you to notify you that your password has been changed.
=======
%p We're contacting you to notify you that your password has been changed.
>>>>>>> master
